<div style="width:650px;border:1px solid rgb(100,99,99);">
    
    <div style="background:#dfe1de;display:flex;font-size:30px;padding:10px">
       
          <strong style="font-size:40px;font-family:sans-serif;color:#595b60;margin-top: 50px;margin-left: 30px;">Redefinição de senha!</strong>
        
        <img style="margin-left: 20%;" src="https://ci4.googleusercontent.com/proxy/ohzU4OVTfkd3eOBTCezaaWvihCLkxvpHcw4UKYajyTpKc3n8BlVVn6ciDzyewK7CsbVaSUlqIft-UZpPGkhMFreNVxL8ng3PjKP6ccmBDcqDWYgV=s0-d-e1-ft#http://plone.ufpb.br/gresp/contents/imagens/icones/email-png2.png" width="200" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 333.047px; top: 538px;"><div id=":oy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
    </div> <br />
     
    <div style="background:#ffffff;display:flex;font-size:20px;padding:10px;padding:30px">
       
      <p>Clique no botão para redefinir sua senha: 
        <a style="
        background: #000000; 
        padding: 10px;
        text-decoration: none; 
        color: #ffffff;" href=`{{host}}`>CLIQUE AQUI</a></p>
  </div>   

  
   
  <div style="background:#030303;display:flex;font-size:30px;padding:10px;justify-content: center;">
    <img  style="margin-left: 25%;" src="https://ci3.googleusercontent.com/proxy/ey4g_os9nNghTAV7Ho7g8JOUM9rsYTT3-jf6bn5Kbu38Q2i7eUU6B9ma6ABYzOAi6s9ZkjeWVea_y-r4CP1NsiDijdFnfV8=s0-d-e1-ft#http://143.198.191.56/static/media/logo.71171975.png" width="300" class="CToWUd a6T" tabindex="0"><div class="yj6qo"></div><div class="a6S adL" dir="ltr" style="opacity: 0.01; left: 843.141px; top: 538px;"><div id=":oz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div><div class="adL">
  </div></div> 